.patcherItem {
	--patcher-name-height: 36px;
}

.patcherItemName {
	display: flex;
	align-items: center;
	height: var(--patcher-name-height);
}

.patcherItemNameInputWrap {
	flex: 1;
}

.patcherItemNameInput {
	border: none;
	height: var(--patcher-name-height);
}
