.inport {
	width: 100%;
}

.outport {
	width: 100%;
}

.portItem {
	break-inside: avoid-column;
	page-break-inside: avoid;
	padding-bottom: var(--mantine-spacing-xl);
}

.portItemLabel {
	font-size: var(--mantine-font-size-sm);
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
}

.portList {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--mantine-spacing-md);

	@media (min-width: $mantine-breakpoint-md) {
		grid-template-columns: 1fr 1fr;
  }
}
