{
  "extends": ["next", "next/core-web-vitals", "c74-ts"],
	"env": {
		"browser": true
	},
	"rules": {
    // disable the rule for all files
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
