.saveButton {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid var(--mantine-color-default-border);
}

.dropdownButton {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-left: 0px solid var(--mantine-color-body);
}
