.title {
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;

	&:after {
		content: "*";
		display: none;
		margin-left: var(--mantine-spacing-xs);
		position: absolute;
		right: 0;
		top: 0;
	}

	&[data-is-dirty="true"]:after {
		display: block;
	}
}
