.wrapper {
	display: flex;
	height: 100%;
	flex-direction: column;
	gap: var(--mantine-spacing-md);
}

.octaveLabel {
	font-size: var(--mantine-font-size-sm);
	touch-action: none;
	user-select: none;
}

.keyroll {
	flex: 1;
	touch-action: none;
	user-select: none;
}

.octaveWrap {
	display: flex;
	justify-content: flex-start;
	position: relative;
	touch-action: none;
	transform: none;
	transform-origin: top left;
	user-select: none;

	&[data-orientation="horizontal"] {
		height: 350px;
		max-height: var(--keyroll-height);
		width: var(--keyroll-width);
	}

	&[data-orientation="vertical"] {
		height: var(--keyroll-width);
		width: var(--keyroll-height);
		transform: rotate(90deg) translateY(-100%);
	}
}

.octave {
	height: 100%;
	width: calc(100% / var(--octave-count));
	max-width: 500px;
	position: relative;
	user-select: none;

	&:not(:last-child) {
		border-right: none;
	}

	> .octaveLabel {
		left: var(--mantine-spacing-xs);
		bottom: calc(var(--mantine-spacing-xs) / 2);
		color: var(--mantine-color-dark-7);
		font-size: var(--mantine-font-size-sm);
		font-weight: bold;
		position: absolute;
		z-index: 3;
	}

	> .octaveKeys {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}



.key {

	border-bottom-left-radius: var(--mantine-radius-xs);
	border-bottom-right-radius: var(--mantine-radius-xs);
	border-color: var(--mantine-color-default-border);
	border-style: solid;
	border-width: 1px;
	position: absolute;
	top: 0;
	width: calc(100% / 7);

}

.whiteKey {
	background-color: var(--mantine-color-white);
	height: 100%;
	z-index: 2;

	@mixin dark {
		background-color: var(--mantine-color-text);
	}

	&[data-active="true"] {
		background-color: var(--mantine-primary-color-filled);
	}
}

.blackKey {
	background-color: var(--mantine-color-dark-8);
	height: 60%;
	z-index: 3;

	@mixin dark {
		background-color: var(--mantine-color-dark-7);
	}

	&[data-active="true"] {
		background-color: var(--mantine-primary-color-filled);
	}
}
