.parameterList {
	gap: var(--mantine-spacing-xl);
	min-height: 100%;
}

.parameterItem {
	break-inside: avoid-column;
	page-break-inside: avoid;
	padding-bottom: var(--mantine-spacing-xl);
}

.parameterItemLabel {
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
}

.markWrapper {

	&:first-child {
		.markLabel {
			transform: translate(calc(-50% + var(--slider-size)), calc(var(--mantine-spacing-xs)/2));
		}
	}

	&:last-child {
		.markLabel {
			transform: translate(calc(-100% + var(--slider-size)), calc(var(--mantine-spacing-xs)/2));
		}
	}
}
