.portItem {
	break-inside: avoid-column;
	page-break-inside: avoid;
	padding-bottom: var(--mantine-spacing-xl);
}

.portItemLabel {
	font-size: var(--mantine-font-size-sm);
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
}

.portList {
}
