<!DOCTYPE html>
<html>
<head>
    <title>RNBO File Types</title>
</head>

<body>
	<h1>Filetype Subdirs</h1>
	<ul>
	{{#each list.items}}
		<li>
			<a href="{{uri}}">{{name}}</a>
		</li>
	{{/each}}
	</ul>
</body>
</html>
