.dataref {
	width: 100%;
}

.datarefItemFileName {
	flex: 1;
}

.datarefItemLabel {
	font-size: var(--mantine-font-size-sm);
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.datarefList {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--mantine-spacing-md);

	@media (min-width: $mantine-breakpoint-md) {
		grid-template-columns: 1fr 1fr;
  }
}
