.presetButton {
	flex: 1;
}

.presetNameForm {
	border: 1px solid var(--mantine-primary-color-filled);
	border-radius: var(--mantine-radius-default);
	height: 36px;
	padding: 0 calc(0.5 * var(--mantine-spacing-xs)) 0 var(--mantine-spacing-md);
}

.presetNameInput {
	border: none;
	flex: 1;

	input {
		border: none;
	}
}

.presetListWrapper {
	flex: 1;
	padding-top: var(--mantine-spacing-xs);
}
