[Unit]
  Description=RNBO Runner Panel
  After=multi-user.target
  StartLimitIntervalSec=500
  StartLimitBurst=5
  StartLimitInterval=0

[Service]
  Type=idle
  ExecStart=/usr/bin/rnbo-runner-panel --directory /usr/share/rnbo-runner-panel/www/
  KillSignal=SIGINT
  User=www-data
  Group=www-data
  Restart=on-failure
  RestartSec=5s

[Install]
  WantedBy=multi-user.target
