.title {
	margin-top: 0;
	margin-bottom: 0;
}

.sectionTitle {
	margin: var(--mantine-spacing-md) 0;
}

.aboutText {
	color: var(--mantine-color-dimmed);
	font-size: var(--mantine-font-size-xs);
	width: 100%;
}

.appStatus {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: var(--mantine-spacing-md);
	height: 100%;

	&[data-status="connecting"],
	&[data-status="initializingstate"],
	&[data-status="reconnecting"],
	&[data-status="resyncingstate"] {
		color: var(--mantine-color-dimmed);
	}

	&[data-status="closed"] {
		color: var(--mantine-color-yellow-7);
	}

	&[data-status="error"] {
		color: var(--mantine-color-red-7);
	}
}
