.setViewButton {
	flex: 1;
}

.setViewNameForm {
	border: 1px solid var(--mantine-primary-color-filled);
	border-radius: var(--mantine-radius-default);
	height: 36px;
	padding: 0 calc(0.5 * var(--mantine-spacing-xs)) 0 var(--mantine-spacing-md);
}

.setViewNameInput {
	border: none;
	flex: 1;

	input {
		border: none;
	}
}

.viewListWrapper {
	flex: 1;
	padding-top: var(--mantine-spacing-xs);
}

.instanceParameterList {
	border: 1px solid var(--mantine-color-default-border);
	border-radius: var(--mantine-radius-sm);
	margin: 0;
	padding: 0;
	list-style: none;
}

.instanceParameterEntry {
	border-bottom: 1px solid var(--mantine-color-default-border);
	font-size: var(--mantine-font-size-sm);
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);

	&:last-child {
		border-bottom: none;
	}
}

.instanceParameterEntryName {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}
