html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.parameter {
	width: 250px;
	background-color: aquamarine;
	height: 40px;
	margin: 5px;
}

.slider {
	width: 90%;
	margin-left: 5%;
	height: 4px;
	background-color:blanchedalmond;
	position: relative;
}

.activeRange {
	height: 100%;
	background-color: blue;
}

.sliderKnob {
	width: 30px;
	height: 30px;
	margin-left: -15px;
	border-radius: 15px;
	background-color: white;
	position: absolute;
	top: -15px;
}
