
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body,
body > div:first-child,
div#__next {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.compWrapper {
	margin: 0% 7%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.parameter {
	width: 100%;
	height: 4rem;
	margin: 5px;
	padding: 2px;
	position: relative;
	color: #082036;
}

.parameterLabel {
	display: flex;
	justify-content: space-between;
	user-select: none;
}

.slider {
	width: 90%;
	margin-left: 5%;
	height: 0.5rem;
	border-radius: 0.4rem;
	background-color:lightgray;
	position: absolute;
	top: 50%;
}

.activeRange {
	height: 100%;
	border-radius: 0.4rem;
	background-color: #21496D;
}

.sliderKnob {
	width: 1.2rem;
	height: 1.2rem;
	margin-left: -0.5rem;
	top: -0.4rem;
	border-radius: 0.6rem;
	background-color: #21496D;
	position: absolute;
}

.ports {
    display: flex;
    max-width: 400px;
}

.inport {
	display: flex;
}

.inportLabel {
	padding-right: 8px
}

.inportInput > input[type="text"] {
	width: 240px;
}

.inportInput > input[type="submit"] {
	margin-left: 8px;
}

