.intro {
	color: var(--mantine-color-dimmed);
	font-size: var(--mantine-font-size-sm);
}

.item {
	padding: 0 0 var(--mantine-spacing-xs) 0;
	border-bottom: 1px solid var(--mantine-color-default-border);
	gap: var(--mantine-spacing-xs);

	&:last-child {
		border-bottom: none;
	}
}

.itemInputWrap {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-width: 100px;
	max-width: 250px;
	height: 100%;
	padding: var(--mantine-spacing-xs) 0;

	> * {
		max-width: 100%;
	}
}

.itemTitleWrap {
	flex: 1;
}

.itemTitle {
	font-weight: 500;
	font-size: var(--mantine-font-size-sm);
}

.itemDescription {
	color: var(--mantine-color-dimmed);
	font-size: var(--mantine-font-size-xs);
}

.tabPanel {
	margin-top: 10px;
}
