.dataFileWrap {
	height: 100%;
	gap: var(--mantine-spacing-md);
}

.treeRowInner {
	padding-left: calc(var(--mantine-spacing-xs) + calc(var(--tree-level, 0) * 20px));

	padding-right: var(--mantine-spacing-xs);
	border-bottom: 1px solid var(--mantine-color-default-border);
}

.treeRowInner:hover {
	background-color: var(--mantine-color-gray-1);
}

[data-mantine-color-scheme="dark"] .treeRowInner:hover {
	background-color: var(--mantine-color-dark-5);
}

.treeNodeIndentPlaceholder {
	display: inline-block;
	width: 0.8em;
}

.treeNodeFileName {
	flex: 1;
	min-width: 0;
}
