name: Build and Lint

on: [pull_request]

jobs:
  api:
    runs-on: ubuntu-latest
    name: runner panel build and lint
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 22

      # Bootstrap
      - name: install dependencies
        run: npm ci

      # Lint Repo
      - name: Run lint
        run: npm run lint

      # Client Build and Test
      - name: build client
        run: npm run build:client

      # Server Build and Test
      - name: build server
        run: cargo build
      - name: test server
        run: cargo test
